{% extends 'main/base.html' %}
{% block title %}About{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="text-4xl font-semibold mb-6">About Rift Clothing</h1>
        <p class="text-lg mb-6">Welcome to Rift, where style meets affordability. We believe that everyone deserves to look and feel their best without breaking the bank. Our mission is to provide high-quality, trendy clothing at prices that won't empty your wallet.</p>
        
        <p class="text-lg mb-6">At Rift, we are passionate about fashion and dedicated to staying ahead of the latest trends. Our carefully curated collections are designed to inspire confidence and individuality, allowing you to express your unique style effortlessly.</p>
        
        <p class="text-lg mb-6">We take pride in offering a diverse range of clothing for all occasions, from casual everyday wear to chic statement pieces. Whether you're revamping your wardrobe or searching for that perfect outfit, Rift has you covered.</p>

        <div class="text-center mb-6">
            <h2 class="text-2xl font-semibold mb-4">Why Choose Rift Clothing?</h2>
            <ul class="list-disc text-lg text-left inline-block">
                <li>Affordable prices without compromising quality.</li>
                <li>Trendsetting collections that cater to diverse styles.</li>
                <li>Exceptional customer service and a seamless shopping experience.</li>
                <li>Fast and reliable delivery to your doorstep.</li>
            </ul>
        </div>

        <p class="text-lg mb-6">Join the Rift community today and discover a world of fashion that doesn't break the bank. We're not just a clothing store; we're a movement, empowering individuals to embrace their style journey without limitations.</p>
    </div>
{% endblock %}
