{% extends 'main/base.html' %}
{% block title %}Contact Us{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="text-4xl font-semibold mb-6">Contact Rift Clothing</h1>
        
        <p class="text-lg mb-6">Visit our physical store at the following location:</p>
        <p class="text-lg mb-6">123 Fashion Street, Camrose, CA</p>
        
        <p class="text-lg mb-6">For any inquiries or assistance, feel free to contact us:</p>
        <p class="text-lg mb-6">Phone: +1 (123) 456-7890</p>
        
        <p class="text-lg mb-6">We are here to help you with any questions or concerns you may have. Your satisfaction is our priority!</p>
    </div>
{% endblock %}
