{% extends 'main/base.html' %}
{% block title %}Investors{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="text-4xl font-semibold mb-6">Invest in Rift Clothing</h1>
        
        <p class="text-lg mb-6">At Rift Clothing, we believe in the power of collaboration and growth. We invite you to be a part of our journey and invest in the future of fashion. As we continue to expand our reach and influence in the industry, we see exciting opportunities for investors to join us on this exciting venture.</p>
        
        <p class="text-lg mb-6">Why invest in Rift Clothing?</p>
        <ul class="list-disc text-lg text-left inline-block mb-6">
            <li>Strong commitment to quality and customer satisfaction.</li>
            <li>A brand that resonates with a diverse and growing customer base.</li>
            <li>Proven track record of staying ahead in fashion trends.</li>
            <li>Strategic plans for expansion and market dominance.</li>
        </ul>

        <p class="text-lg mb-6">For more information about investment opportunities and to discuss how you can become a part of the Rift family, please contact our Investor Relations team:</p>
        
        <p class="text-lg mb-6">Email: invest@riftclothing.com</p>
        <p class="text-lg mb-6">Phone: +1 (123) 456-7890</p>

        <p class="text-lg mb-6">We value our investors and look forward to building a successful and prosperous future together. Join us in shaping the fashion landscape and making a lasting impact in the industry.</p>
    </div>
{% endblock %}
